<div>
    <h1>Login</h1>
     <form id="loginForm">
    
        <label>Email</label>
        <input name="email">
        <br/>
        <label>Password</label>
         <input type="password" name="password">
        <input type="submit">
    </form>
    <p> Estas registrado ? <a href="/register">Registrate aqui </a>
</div>

<script src="/js/login.js"></script>